.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-container2{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #10d3ce;
}
.login-form-2{
    padding: 5%;
    background: #10d3c2;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-form-3{
    padding: 0%;
    background: #10d3c2;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-3 h3{
    text-align: center;
    color: #fff;
}
.login-form-3 h5{
	line-height: 20%;
    text-align: center;
    color: #fff;
}
.login-form-3 a{
	
    text-align: center;
    color: #000000;
}
.login-form-4{
    padding: 0%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-4 h3{
    text-align: center;
    color: #10d3ce;
}
.login-form-3 h5{
	line-height: 20%;
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.login-container2 form{
    padding: 2%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
	font-weight: 600;
    color: #fff;
    background-color: #10d3ce;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #10d3ce;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #10d3ce;
    background-color: #fff;
}
.login-form-3 .btnSubmit{
    font-weight: 600;
    color: #10d3ce;
    background-color: #fff;
}
.login-form-4 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #10d3ce;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #10d3ce;
    font-weight: 600;
    text-decoration: none;
}
.btnNew
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnNew{
    font-weight: 600;
    color: #339900;
    background-color: #99ffff;
}
.login-form-1 .btnNew{
    font-weight: 600;
    color: #fff;
    background-color: #10d3ce;
}
.login-form-2 .btnNew{
    font-weight: 600;
    color: #10d3ce;
    background-color: #fff;
}
.btnAccueil
{
    width: 25%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnAccueil{
    font-weight: 600;
    color: #10d3ce;
    background-color: #fff;
}
.login-form-2 .btnAccueil{
    font-weight: 600;
    color: #10d3ce;
    background-color: #fff;
}
.login-form-3 .btnAccueil{
    font-weight: 600;
    color: #10d3ce;
    background-color: #fff;
}
.login-form-4 .btnAccueil{
   font-weight: 600;
    color: #fff;
    background-color: #10d3ce;
}